<div
  class="w-full mx-auto rounded-2xl bg-neutral-950 text-white px-4 py-6 shadow-lg"
>
  <div class="flex items-center">
    <!-- Imagem/Ícone -->
    <div class="flex items-center justify-center">
      <img
        class="w-14 h-14 rounded-md"
        src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2015%2F10%2F12%2F16%2FLogo-165716_73236_163916519_1069725254.jpg"
        alt="image description"
      />
    </div>
    <div class="ml-4 flex-1">
      <!-- Nome e Categorias -->
      <div class="flex justify-between items-center">
        <span class="text-lg font-bold">Burguer Beer</span>
        <span class="text-sm text-green-400">Aberto</span>
      </div>

      <p class="text-sm text-gray-400">Hamburgueria | Pizzaria</p>
    </div>
  </div>
</div>
